asgiref==3.10.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
defusedxml==0.7.1
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
djoser==2.3.3
idna==3.15
oauthlib==3.3.1
pillow==12.0.0
pycparser==3.0
PyJWT==2.12.1
python-dotenv==1.2.2
python3-openid==3.2.0
pytz==2025.2
requests==2.34.1
requests-oauthlib==2.0.0
social-auth-app-django==5.9.0
social-auth-core==4.9.1
sqlparse==0.5.3
urllib3==2.7.0
webcolors==25.10.0
Django==5.2.10
